BODY {
	background-color:#C0C0C0;
	color:#000000;}
BODY, TABLE {
	font-size:medium;
	font-family:"Lucida Sans Unicode"; "Lucida Grande"; sans-serif;}
H1, H2, H3 {display:inline;}

FORM {line-height:300%;}
INPUT, SELECT, BUTTON, .button, .value {
	font-family:"Lucida Console", Monaco, monospace;
	font-size:large;
	vertical-align:middle;
	background-color:#80FFFF;}
TEXTAREA {
	unicode-bidi:font-family:monospace;
	font-size:large;
	embed;
	white-space:pre;
	height: 10em;
	width: 30em;
	overflow-wrap:normal;
	overflow-x:scroll;}

BUTTON, .button {
	padding: 2px 8px;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	box-shadow: 0 3px #999;}
BUTTON:hover, .button:hover {background-color:#00FFFF;}
BUTTON:active, .button:active {
	background-color:#00FFFF;
	box-shadow: 0 5px #666;
	transform: translateY(2px);}

TD.value {text-align:center;}
.inline {display: inline-block;}
.valign_top {vertical-align:top;}
.valign_middle {vertical-align:middle;}
.hidden {display: none;}
.alignx input[type=checkbox]{position: relative;vertical-align: middle;bottom: 1px;}

/* ----- SLIDER ----- (input type=range) ----- */
/* SLIDER: hide defaults */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
/* SLIDER: new values */
input[type=range] {
  height: 30px;
  -webkit-appearance: none;
  margin: 5 5px;
  width: 250px;
  vertical-align: text-bottom;
  padding: 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #80ffff;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 27px;
  width: 20px;
  border-radius: 10px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  /* margin-top: -8px; */
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #80ffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #80ffff;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 27px;
  width: 20px;
  border-radius: 10px;
  margin-top: 0;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
	/*border-width: 8px 0;*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #80ffff;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #80ffff;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 27px;
  width: 20px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #80ffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #80ffff;
}
